<div class="bg-body-secondary row justify-content-center align-items-start  mt-" style="height: 700px;" >
  <div class="col-10 justify-content-center m-3 mt-0 position-relative h-100 " >
      <div id="carouselExampleAutoplaying" class="carousel slide " data-bs-ride="carousel">
          <div class="carousel-inner  ">
            <div class="carousel-item active">
              <img src="https://m.media-amazon.com/images/I/61lwJy4B8PL._SX3000_.jpg"  class="d-block w-100" height="500px" alt="...">
            </div>
            <div class="carousel-item">
              <img src="https://m.media-amazon.com/images/I/71Ie3JXGfVL._SX3000_.jpg" class="d-block w-100" height="500px" alt="...">
            </div>
            <div class="carousel-item">
              <img src="https://m.media-amazon.com/images/I/61CiqVTRBEL._SX3000_.jpg" class="d-block w-100" height="500px" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev position-absolute " style="top: -30%;"  type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next position-absolute " style="top: -30%;" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
        <div class="container-fluid position-absolute bg-transparent gap-3 d-flex flex-row  justify-content-center  flex-xl-nowrap  flex-wrap    h-100    p-0" style="width: 96%; left: 2%;top: 25%;">
          <div class=" box d-flex flex-wrap col-3  flex-column align-items-center  justify-content-center px-3">
            <h3 class="align-self-start ">Gaming accessories</h3>
            <div class="d-flex flex-wrap justify-content-center ">
              <div class="smallimg d-flex flex-column ">
                <img   src="https://images-na.ssl-images-amazon.com/images/G/01/AmazonExports/Fuji/2021/June/Fuji_Quad_Headset_1x._SY116_CB667159060_.jpg" alt="">
                <span style="font-size: 12px;">Headset</span>
              </div>
              <div class="smallimg">
                <img   src="https://images-na.ssl-images-amazon.com/images/G/01/AmazonExports/Fuji/2021/June/Fuji_Quad_Keyboard_1x._SY116_CB667159063_.jpg" alt="">
                <span style="font-size: 12px;">Keyboards</span>
              </div>
              <div class="smallimg">
                <img   src="https://images-na.ssl-images-amazon.com/images/G/01/AmazonExports/Fuji/2021/June/Fuji_Quad_Mouse_1x._SY116_CB667159063_.jpg" alt="">
                <span style="font-size: 12px;">Computer mice</span>
              </div>
              <div class="smallimg">
                <img   src="https://images-na.ssl-images-amazon.com/images/G/01/AmazonExports/Fuji/2021/June/Fuji_Quad_Chair_1x._SY116_CB667159060_.jpg" alt="">
                <span style="font-size: 12px;">Chairs</span>
              </div>
            </div>
            <span class="align-self-start text-primary ">see more</span>
          </div>
          <div class="box d-flex flex-column justify-content-center px-3">
            <h3 class="align-self-start ">Deals in PCs</h3>
            <img class="" style="width: 100%; height: 320px;" src="https://images-na.ssl-images-amazon.com/images/G/01/AmazonExports/Events/2023/EBF23/Fuji_Desktop_Single_image_EBF_1x_v1._SY304_CB573698005_.jpg" alt="">
            <span class="align-self-start text-primary ">see more</span>
          </div>
          <div class="  box  d-flex flex-wrap col-3  flex-column align-items-center  justify-content-center px-3">
            <h3 class="align-self-start ">Refresh your space</h3>
            <div class="d-flex flex-wrap justify-content-center ">
              <div class="smallimg d-flex flex-column ">
                <img   src="https://images-na.ssl-images-amazon.com/images/G/01/launchpad/2023/Gateway/January/DesktopQuadCat_186x116_LP-HP_B08MYX5Q2W_01.23._SY116_CB619238939_.jpg" alt="">
                <span style="font-size: 12px;">Dining</span>
              </div>
              <div class="smallimg">
                <img   src="https://images-na.ssl-images-amazon.com/images/G/01/launchpad/2023/Gateway/January/DesktopQuadCat_186x116_home_B08RCCP3HV_01.23._SY116_CB619238939_.jpg" alt="">
                <span style="font-size: 12px;">Home</span>
              </div>
              <div class="smallimg">
                <img   src="https://images-na.ssl-images-amazon.com/images/G/01/launchpad/2023/Gateway/January/DesktopQuadCat_186x116_kitchen_B0126LMDFK_01.23._SY116_CB619238939_.jpg" alt="">
                <span style="font-size: 12px;">Kitchen</span>
              </div>
              <div class="smallimg">
                <img   src="https://images-na.ssl-images-amazon.com/images/G/01/launchpad/2023/Gateway/January/DesktopQuadCat_186x116_health-beauty_B07662GN57_01.23._SY116_CB619238939_.jpg" alt="">
                <span style="font-size: 12px;">Health and beauty</span>
              </div>
            </div>
            <span class="align-self-start text-primary ">see more</span>
          </div>
          <div class="box   d-flex flex-column justify-content-center px-3">
            <h3 class="align-self-start ">Deals in PCs</h3>
            <img class="" style="width: 100%;height: 320px;" src="https://images-na.ssl-images-amazon.com/images/G/01/AmazonExports/Events/2023/EBF23/Fuji_Desktop_Single_image_EBF_1x_v1._SY304_CB573698005_.jpg" alt="">
            <span class="align-self-start text-primary ">see more</span>
          </div>
          
        </div>
  </div>

</div>
