*{
    color:white;
}

.nav-link{
    border:none;
    border-bottom:2px solid green;
}
.nav-link:hover{
    color:white;
    border-bottom:2px solid green;
}
.navbar-brand:hover{
    color:white
}
.navbar-brand{
    color:white
}