<div class="d-flex flex-row  col-12 justify-content-center vh-100   ">
    <div class="container col-8  mt-5 row">
        <div class="col-3">
            <img width="100%" src="{{book.image}}" alt="">
        </div>
        <div class="col-8">
            <div class="d-flex flex-column ">
                <h3>{{book.title}}</h3>
                <h3>{{book.publisher}}</h3>
            </div>
            <hr>
            <div class="row">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aperiam voluptas, obcaecati, aut recusandae nam asperiores quod enim laboriosam consectetur repudiandae velit. Labore sunt perferendis quo, deserunt non incidunt explicabo praesentium!
            </div>
        </div>
    </div>
</div>
