<ng-content select="app-navbar"></ng-content>
<nav class="navbar  pt-0 pb-0 " style="background-color: #232f3e;height: 40px;">
  <div class="container-fluid pt-0 row" style="min-width: 1920px;">
    <button class="navbar-toggler bg-transparent col-1  mt-0 pt-0" style="background-color: antiquewhite; height: 35px;" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
      <div class="w-50 box-light float-end align-items-center ">
        <i class="bi bi-list fs-4 text-light"></i><span class="text-light mb-2 fs-5 mb-2" >All</span>
      </div>
    </button>
    <div #canvas class="offcanvas offcanvas-start  overflow-hidden"  tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div id="main-menu" class=" d-flex flex-nowrap  flex-row position-relative " style="width: 800px;transform: translateX(0);">
        <div class="row " style="width: 50%;">
          <div class="offcanvas-header bg-dark " >
            <div class="d-flex  flex-row bg-dark " style="height: 60px;">
              <button type="button" class="btn bg-transparent text-light fs-4 " data-bs-toggle="modal" data-bs-target="#exampleModal" style="background-color: darkblue;">
                Log In
              </button>  
            </div>
            <button type="button" class="btn-close " data-bs-theme="bg-white " data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body p-0 " style="overflow: visible;">
            <ul class="navbar-nav row w-100 ">
              <!----------------------------------------->
              <!-- <li class="nav-item col-12  w-100 pe-0 mb-4" > -->
                <div class="btn-group d-flex flex-column gap-4 align-items-center justify-content-between  dropend col-12 ">                
                  <h5 class="offcanvas-title fw-bolder align-self-start ms-3" id="offcanvasNavbarLabel">Categories</h5>
                  <button type="button" class="btn d-flex justify-content-between  col-11 fs-5 pt-2 " style="height: 40px;" aria-expanded="false" (click)="showSubMenu('category')">
                    <h5>Category</h5> <img src="../../assets//forward_144px.png" width="20px" height="20px" alt="">
                  </button>
                  <button type="button" class="btn d-flex justify-content-between  col-11 fs-5 pt-2 " style="height: 40px;" aria-expanded="false" (click)="showSubMenu('category')">
                    <h5>Category</h5> <img src="../../assets//forward_144px.png" width="20px" height="20px" alt="">
                  </button>
                  <button type="button" class="btn d-flex justify-content-between  col-11 fs-5 pt-2 " style="height: 40px;" aria-expanded="false" (click)="showSubMenu('category')">
                    <h5>Category</h5> <img src="../../assets//forward_144px.png" width="20px" height="20px" alt="">
                  </button>
                  <button type="button" class="btn d-flex justify-content-between  col-11 fs-5 pt-2 " style="height: 40px;" aria-expanded="false" (click)="showSubMenu('category')">
                    <h5>Category</h5> <img src="../../assets//forward_144px.png" width="20px" height="20px" alt="">
                  </button>
                  <button type="button" class="btn d-flex justify-content-between  col-11 fs-5 pt-2 " style="height: 40px;" aria-expanded="false" (click)="showSubMenu('category')">
                    <h5>Category</h5> <img src="../../assets//forward_144px.png" width="20px" height="20px" alt="">
                  </button>
                  <button type="button" class="btn d-flex justify-content-between  col-11 fs-5 pt-2 " style="height: 40px;" aria-expanded="false" (click)="showSubMenu('category')">
                    <h5>Category</h5> <img src="../../assets//forward_144px.png" width="20px" height="20px" alt="">
                  </button>
                  <div  class=" d-flex col-12   flex-column align-items-start   dropend overflow-hidden  " style="height: 10%;" >
                    <div id="seeall" class="d-flex col-12 fs-5  flex-column gap-4 align-items-center justify-content-between  overflow-hidden" >
                      <button type="button" class="btn d-flex justify-content-between  col-11 fs-5 pt-2 " style="height: 40px;" aria-expanded="false" (click)="showSubMenu('category')">
                        <h5>Category</h5> <img src="../../assets//forward_144px.png" width="20px" height="20px" alt="">
                      </button>
                      <button type="button" class="btn d-flex justify-content-between  col-11 fs-5 pt-2 " style="height: 40px;" aria-expanded="false" (click)="showSubMenu('category')">
                        <h5>Category</h5> <img src="../../assets//forward_144px.png" width="20px" height="20px" alt="">
                      </button>
                      <button type="button" class="btn d-flex justify-content-between  col-11 fs-5 pt-2 " style="height: 40px;" aria-expanded="false" (click)="showSubMenu('category')">
                        <h5>Category</h5> <img src="../../assets//forward_144px.png" width="20px" height="20px" alt="">
                      </button>
                      <button type="button" class="btn d-flex justify-content-between  col-11 fs-5 pt-2 " style="height: 40px;" aria-expanded="false" (click)="showSubMenu('category')">
                        <h5>Category</h5> <img src="../../assets//forward_144px.png" width="20px" height="20px" alt="">
                      </button>
                      <button type="button" class="btn d-flex justify-content-between  col-11 fs-5 pt-2 " style="height: 40px;" aria-expanded="false" (click)="showSubMenu('category')">
                        <h5>Category</h5> <img src="../../assets//forward_144px.png" width="20px" height="20px" alt="">
                      </button>
                      <button type="button" class="btn d-flex justify-content-between  col-11 fs-5 pt-2 " style="height: 40px;" aria-expanded="false" (click)="showSubMenu('category')">
                        <h5 style="line-height: 5px;">Category</h5> <img src="../../assets//forward_144px.png" width="20px" height="20px" alt="">
                      </button>
                      <div class="d-flex flex-row gap-3    w-100 row justify-content-center     align-items-sm-end   " >
                        <div class="d-flex flex-row  w-100 row justify-content-start    align-items-sm-end "  (click)="seeall()" style="cursor: pointer;">
                          <button class="p-0 ms-3 w-25" style="margin-left: 60px;border:none; background-color: transparent;" >see all</button>
                          <img id="updownarrow" src="../../assets/chevron_down_96px.png" class=" " alt="" style="width: 14%; height: 30px;"> 
                        </div>
                        <button type="button" class="btn d-flex justify-content-between  col-11 fs-5 pt-2 " style="height: 40px;" aria-expanded="false" (click)="showSubMenu('category')">
                          <h5 style="line-height: 5px;">Category</h5> <img src="../../assets//forward_144px.png" width="20px" height="20px" alt="">
                        </button>
                      </div>
                    </div>
                  </div>
                </div>       
              <!-- </li> -->
              
              
              
            </ul>        
          </div>
        </div>
        <div class="row ps-3 ms-2 " style="width: 50%;">
          <div class="row ps-3 pe-0 w-100 " style="height: 40px;" role="button">
            <div class="d-flex " (click)="back()">
              <img src="../../assets/back_96px.png" width="30px" height="30px" alt="">
              <h4>
                Main Menu
              </h4>           
            </div>
            <hr>
            <div class="d-flex flex-column gap-4 mt-2  ">
              <h5 class="fw-bolder fs-4 ">Category</h5> 
              <h5 *ngFor="let item of countArray(5)" [routerLink]="'productlist'">Category</h5> 
            </div>
          </div>
          
        </div>

      </div>

    </div>
    <div class="col-11">
      <ul class="navbar-nav  d-flex flex-row mb-2 mb-lg-0  justify-content-start ">
        <li class="nav-item me-5 px-2 py-0  box-light ">
          <a class="nav-link text-light px-0 " role="button">Today's Deals</a>
        </li>
        <li class="nav-item me-5 px-2 py-0  box-light ">
          <a class="nav-link text-light" href="#">Features</a>
        </li>
        <li class="nav-item me-5 px-2 py-0  box-light ">
          <a class="nav-link text-light" href="#">Pricing</a>
        </li>
      </ul>
    </div>
  </div>
</nav>